{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'custom-card-diamond-only-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

<div class="product_list_main">
<div class="product_list" id="view_{{ card_product.id }}">
  <div class="product_info">
    <div class="product_list_inner">{{ card_product.metafields.custom.diamond_shape.value.value.value }}</div>
  </div>
  <div class="product_info"><div class="product_list_inner">{{ card_product.metafields.custom.diamond_weight.value.value.value }}</div></div>
  <div class="product_info"><div class="product_list_inner">{{ card_product.metafields.custom.diamond_color.value.value.value }}</div></div>
  <div class="product_info"><div class="product_list_inner">{{ card_product.metafields.custom.diamond_clarity.value.value.value }}</div></div>
  <div class="product_info col_cut"><div class="product_list_inner">{{ card_product.metafields.custom.diamond_cut.value.name.value }}</div></div>
  <div class="product_info col_price"><div class="product_list_inner">{% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}</div></div>
</div>

<div class="product_list_content view_{{ card_product.id }}">
    <div class="list_product_wrap">
      <div class="left_content">
        <div class="left_content_inner"> 
        <ul>
        {% if card_product.metafields.custom.diamond_shape.value.value.value != blank %}
        <li><strong>Shape: </strong>{{ card_product.metafields.custom.diamond_shape.value.value.value }}</li>
        {% endif %}
        {% if card_product.metafields.custom.diamond_weight.value.value.value != blank %}
          <li><strong>Carat: </strong>{{ card_product.metafields.custom.diamond_weight.value.value.value }}</li>
          {% endif %}
        {% if card_product.metafields.custom.diamond_color.value.value.value != blank %}
          <li><strong>Colour: </strong>{{ card_product.metafields.custom.diamond_color.value.value.value }}</li>
        {% endif %}
        {% if card_product.metafields.custom.diamond_clarity.value.value.value != blank %}
          <li> <strong>Clarity: </strong>{{ card_product.metafields.custom.diamond_clarity.value.value.value }}</li>
        {% endif %}
        {% if card_product.metafields.custom.diamond_cut.value.name.value != blank %}
          <li><strong>Cut:</strong> {{ card_product.metafields.custom.diamond_cut.value.name.value }}</li>
        {% endif %}
        {% comment %} <li><div class="list_price"><strong>Price:</strong> {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}</div></li> {% endcomment %}
        {% if card_product.metafields.custom.diamond_fluorescent.value.text_options.value != blank %}
          <li><strong>Flurouence: </strong> {{ card_product.metafields.custom.diamond_fluorescent.value.text_options.value }}</li>
        {% endif %}
      </ul>
        <!-- Let React take over here ... -->
        <div class="add-diamond list_add_btn" prop-stone_product_id="{{ card_product.id }}">
        </div>
        </div>
      </div>
      <div class="right_content">
          {% if card_product.featured_media != blank %}
        <div class="global-media-settings media" style="padding-bottom: {{ 1 | divided_by: card_product.featured_media.aspect_ratio | times: 100 }}%;">
          {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
          {%- capture sizes -%}
        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
        {%- endcapture -%}
        
          {{
            card_product.featured_media
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: widths, fetchpriority: 'auto'
          }}
                    </div>
                  {% endif %}        
      </div>
    </div>
</div>
</div>
