{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{{ 'component-pagination.css' | asset_url | stylesheet_tag }}

{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper">
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      {% comment %} Let React handle from here... {% endcomment %}
      <div class="react-pagination" 
          prop-paginate='{{ paginate | json }}' 
          prop-icon_caret_svg='{{- 'icon-caret.svg' | inline_asset_content -}}'
          prop-aria_label_previous='{{ 'general.pagination.previous' | t }}'
          prop-aria_label_next='{{ 'general.pagination.next' | t }}'
          prop-aria_label_page='{{ 'general.pagination.page' | t }}'
          prop-anchor='{{ anchor }}'>
      </div>
    </nav>
  </div>
{%- endif -%}
