{{ 'ring-design-summary.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- capture header_content -%}{{ content_for_header }}{%- endcapture -%}
{%- assign page_url = header_content | split: '"pageurl":"' | last | split: '"' | first | split: '.myshopify.com' | last | replace: '\/', '/' | replace: '%20', ' ' | replace: '\u0026', '&' -%}
{% assign ring_variant_id = page_url | split: 'ring-variant-id=' | last | split: '&' | first | plus: 0 %}     
{% assign stone_handle = page_url | split: 'stone-handle=' | last %}
{% assign e_stone = all_products[stone_handle] %}

{% for product in collections['engagement-ring-setting'].products %}
    {% for variant in product.variants %}
       {% if variant.id == ring_variant_id %}
            {% assign e_product = product %}
            {% assign e_variant = variant %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="ring-design-summary color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="ring-design_inner">
    <div class="ring-design_images">
      {% if e_product.media[1] != blank %}
        <div class="ring-design-featured_image">
        <div class="media media--transparent" style="padding-bottom: {{ 1 | divided_by: e_product.media[1].aspect_ratio | times: 100 }}%;">
            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
            (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
            {{
              e_product.media[1]
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: widths, fetchpriority: 'auto'
            }}
          </div>
          </div>
        {% endif %}
        {% if e_stone.featured_media != blank %}
          <div class="ring-design_video">
          {{ e_stone.featured_media | media_tag: image_size: '2048x', autoplay: true, loop: true, controls: false, preload: 'none' }}
          </div>
        {% endif %}
    </div>
    <div class="ring-design_information">
      <h1>{{ e_product.title | escape }}</h1>

      <ul class="product_content">
      <li>
        <div class="modify_content">
          <strong>Centerstone: </strong>
        {{ e_stone.metafields.custom.diamond_weight.value.value.value }}, 
        {{ e_stone.metafields.custom.diamond_color.value.value.value }}, 
        {{ e_stone.metafields.custom.diamond_clarity.value.value.value }}, 
        {{ e_stone.metafields.custom.diamond_cut.value.name.value }}
        </div>
        <a href="" class="modify_link">Modify</a>
      </li>
      {% if e_product.metafields.custom.diamond_shape.value.value.value != blank %}
        <li><strong>Shape: </strong>{{ e_product.metafields.custom.diamond_shape.value.value.value }}</li>
        {% endif %}
      {% if e_product.metafields.custom.engagement_ring_setting_style.value.value.value != blank %}
      <li><strong>Setting: </strong>{{ e_product.metafields.custom.engagement_ring_setting_style.value.value.value }}</li>
      {% endif %}
      <li><strong>Metal: </strong>{{ e_variant.option1 }}</li>
        </ul>
    </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ring Design Summary",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
